/* class -> .text-red {} */
/* id ->  #id-bilgisi {} */
h1 {
    font-size: 30px;
    color: blue;
}
h2, h3, h4, h5, h6 {
    color: rebeccapurple;
}

p {
    font-size: 20px;
}

#first-article {
    font-size: 40px;
    color: saddlebrown;
}

.text-red {
        color: red;
}
.fs-small {
    font-size: 14px;
}

.fs-medium {
    font-size: 20px;
}

.fs-large {
    font-size: 30px;
}
