body {
    background-color:coral;
    color: white;
    font-family: sans-serif;
}

h3 {
    color:red;
}
 
p {
    color: green;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Rubik Pixels', cursive;
}
